<odoo>
	<data>
		<!--action ptkp request -->
		<record id="action_request_list" model="ir.actions.act_window">
			<field name="name">PTKP</field>
			<field name="res_model">ptkp.request</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to add a PTKP
              </p>
				<p>klik tombol create untuk tambah PTKP baru</p>
			</field>
		</record>


		<!--action ptkp order -->
		<record id="action_order_list" model="ir.actions.act_window">
			<field name="name">PTKP</field>
			<field name="res_model">ptkp.order</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to add a PTKP
              </p>
				<p>klik tombol create untuk tambah PTKP baru</p>
			</field>
		</record>


		

		
<!-- menu side bar -->
		<menuitem id="ptkp_0"
				  name="PTKP"
				  sequence="20"/>

		<menuitem id="ptkp_1"
				  name="PTKP"
				  parent="ptkp_0"
				  sequence="20"/>

		
		
		<menuitem id="menu_ptkp_request"
				  name="PTKP Request"
				  parent="ptkp_1"
				  action="action_request_list"
				  sequence="30"/>

		<menuitem id="menu_ptkp_order"
						  name="PTKP Order"
						  parent="ptkp_1"
						  action="action_order_list"
						  sequence="30"/>
				
		


		
	</data>
</odoo>