<odoo>
	<data>
		<!--action risk register -->
		<record id="action_ptkp_list" model="ir.actions.act_window">
			<field name="name">Permintaan Tindakan Koreksi dan Pencegahan</field>
			<field name="res_model">ptkp.ptkp</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to add a PTKP
              </p>
				<p>klik tombol create untuk tambah PTKP baru</p>
			</field>
		</record>

		

		

		<menuitem id="ptkp_0"
				  name="PTKP"
				  sequence="20"/>

		<menuitem id="ptkp_1"
				  name="PTKP"
				  parent="ptkp_0"
				  sequence="20"/>

		<!--
		<menuitem id="supplier_1"
				  name="Supplier"
				  parent="supplier_0"
				  sequence="20"/>
		-->
		
		<menuitem id="menu_ptkp_ptkp"
				  name="PTKP"
				  parent="ptkp_1"
				  action="action_ptkp_list"
				  sequence="30"/>

		<!-- menu sidebar dibawahnya
		<menuitem id="menu_ror_auditinternal"
				  name="Audit Internal"
				  parent="ror_1"
				  action="action_auditinternal_list"
				  sequence="30"/>
		-->

		


		
	</data>
</odoo>